{% extends 'arquivos/base.html' %}

{% block title %}Lista de Arquivos{% endblock %}

{% block content %}

<link href="../../static/css/lista.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

  {% for texto in textos %}
  <button type="button" class="collapsible"><i class="fa fa-angle-down"></i> {{texto.titulo}}
     <a class="edita" href="{% url 'arquivos:atualiza-arquivo' pk=texto.id %}" ><i class="fas fa-edit"></i> </a>
    <a class="apaga" href="{% url 'arquivos:apaga-arquivo' pk=texto.id %}" ><i class="fas fa-trash-alt"></i></a>
  </button>
  <div class="content">
    <table>
      <tr>
        <td>[{{ texto.data }}]</td> 
        <td><p class = "breakAll">{{ texto.conteudo }}</p></td>
      </tr>
    </table>
  </div>
  <hr class="hr_solid">

  {% empty %}
    <br/></br/>
    <h4> Nenhum Arquivo cadastrado</h4>
    <h5> Clique em "Cria um arquivo" para fazer um novo registro </h5>
  {% endfor %}

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>
{% endblock %}
